
name: Videoc CI

on:
  push:
    branches: [ "develop" ]
  pull_request:
    branches: [ "develop" ]

jobs:
  build:

    runs-on: self-hosted

    strategy:
      matrix:
        node-version: [20.12.2]

    env:
      AUTH_GOOGLE_ID: ${{secrets.AUTH_GOOGLE_ID}}
      AUTH_GOOGLE_SECRET: ${{secrets.AUTH_GOOGLE_SECRET}}
      AUTH_SECRET: ${{secrets.AUTH_SECRET}}
      
      MYSQL_ROOT_PASSWORD: ${{MYSQL_ROOT_PASSWORD}}
      MYSQL_DATABASE: ${{secrets.MYSQL_DATABASE}}
      MYSQL_USER: ${{secrets.MYSQL_USER}}
      MYSQL_PASSWORD: ${{secrets.MYSQL_PASSWORD}}
      MYSQL_PORT: ${{secrets.MYSQL_PORT}}
      MYSQL_HOST: ${{secrets.MYSQL_HOST}}
      
      DATABASE_URL: ${{DATABASE_URL}}
      
      SMTP_PORT: ${{secrets.SMTP_PORT}}  
      SMTP_HOST: ${{secrets.SMTP_HOST}}
      SMTP_USER: ${{secrets.SMTP_USER}}
      SMTP_PASSWORD: ${{secrets.SMTP_PASSWORD}}
      SMTP_FROM: ${{secrets.SMTP_FROM}}
      
      
      STREAM_API_KEY: ${{secrets.STREAM_API_KEY}}
      NEXT_PUBLIC_STREAM_API_KEY: ${{secrets.NEXT_PUBLIC_STREAM_API_KEY}}
      STREAM_API_SECRET: ${{secrets.STREAM_API_SECRET}}
      
      
      BASE_URL: ${{secrets.BASE_URL}
      NEXT_PUBLIC_BASE_URL: ${{secrets.NEXT_PUBLIC_BASE_URL}}
      NEXTAUTH_URL: ${{secrets.NEXTAUTH_URL}}
      
      
      UPLOADTHING_SECRET: ${{secrets.UPLOADTHING_SECRET}}
      UPLOADTHING_APP_ID: ${{secrets.UPLOADTHING_APP_ID}}
      
      
      DEFAULT_LOCALE: ${{secrets.DEFAULT_LOCALE}}
      
      BUNNY_API_KEY: ${{secrets.BUNNY_API_KEY}}

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
